<!-- default single page -->
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/_default/single.css"/>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
        {{ partial "header/default-header.html" . }}
    </head>
    <hr>
    <body>        
        <div class="bg-image {{.Title}}">
            <div class="text">
                {{.Content}}
                {{ if eq .Title "Contact" }}
                    {{ partial "contact-form.html" . }}                    
                {{ end }}                
            </div>  
        </div>        
    </body>
    <hr>
    <footer>
        {{ partial "footer/default-footer" . }}
    </footer>
</html>