<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/partials/header.css" />

<!--header partial-->
<div id="header">
    <div id="logo-container">
        <!--Logo links back to homepage-->
        <a href="{{.Site.BaseURL}}">
            <img class="logo" src="/images/jaxlogo.gif" alt="Just Another eXperience logo">
        </a>
    </div>
    <!--list the pages with the "default-button" tag-->
    <div id="container">
        {{ range .Site.Pages.ByTitle }}
            {{ if in .Params.tags "default-button" }}
                <div class="button">
                    <a href="{{.Permalink}}"><p>{{.Title}}</p></a>
                </div>
            {{ end }}
        {{ end }}
    </div>
</div>
